@model IEnumerable<FirmaMeblarska.Models.Klient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Klient</h1>
<!--
<p>
    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>  Nowy klient</a>
</p>-->
<p>
    <a asp-action="AddKlientAdres" class="btn btn-outline-success"><i class="far fa-plus-square"></i>  Nowy klient</a>
</p>
<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Imie)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nazwisko)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Adres)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Imie)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nazwisko)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adres)
                            </td>
                            <td>
                                <a asp-action="AddOrEdit" asp-route-id="@item.KlientId"><i class="fa fa-marker fa-lg"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.KlientId" class="text-danger ml-1" onclick="return confirm('Czt na pewno chcesz usunąć tą część?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "order": [[2, "asc"]],
                "language": {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:  ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono ",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                }
            });
        });
    </script>
}