@model IEnumerable<FirmaMeblarska.Models.Zamowienie>

@{
    ViewData["Title"] = "Zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zamówienia</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>  Nowe zamówienie</a>
</p>

<!--<table class="table table-hover">-->
<div class="card mb-4">
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DataZlozenia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Klient)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Adres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Zespol)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cena)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataZlozenia)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Klients)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zespols)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Statuss)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cena)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ZamowienieId"><i class="fa fa-marker fa-lg"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ZamowienieId" class="text-danger ml-1" onclick="return confirm('Czt na pewno chcesz usunąć tą część?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
