@model FirmaMeblarska.Models.Zamowienie
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faktura - '@Model.NrFaktura'</title>
</head>
<body onload="document.title = '@Model.NrFaktura'; window.print();">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">



                <h3 class="mb-5">
                    Faktura nr: @Model.NrFaktura
                </h3>
                <div class="col-sm-4 float-right mt-3">
                    <b>Miejsce wystawienia:</b> Krosno<br>
                    <b>Data wydania faktury:</b><br> @Model.DataZlozenia.ToString("dd-MMM-yyyy")<br><br><br><br>
                </div>
                <span class="border-bottom border-dark "> <b>Nabywca:</b></span>
                <address>
                    <strong>@Model.Klient.FullName</strong><br /><span>@Model.Klient.FullName</span><br /><span>@Model.Adres.FullAdres</span><br /><span>email: @Model.Klient.Email</span><br /><span>tel:@Model.Klient.Telefon</span>
                </address>
                <span class="border-bottom border-dark"> <b>Sprzedwaca:</b></span>
                <address>
                    <strong>Firma Meblarska</strong><br>
                    Firma Meblarska<br>
                    Lotników 5 38-400 Krosno <br>
                    admin@firmameblarska.pl<br>
                </address>

                <table class="table table-striped table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>Lp</th>
                            <th>Nazwa towaru/usługi</th>
                            <th>Ilość</th>
                            <th>Cena netto</th>
                            <th>VAT</th>
                            <th>Kwota VAT</th>
                            <th>Kwota brutto</th>
                        </tr>
                    </thead>
                    <tbody class="text-right">

                        <tr>
                            <td>1</td>
                            <td>Meble na wymiar</td>
                            <td>1</td>
                            <td>@Model.CenaNetto </td>
                            <td>23%</td>
                            <td>@Model.KwotaVat</td>
                            <td>@Model.Cena</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 mb-4">
                <table class="table table-bordered float-left">
                    <thead class="bg-light">
                        <tr>
                            <th>Stawka VAT</th>
                            <th>Netto</th>
                            <th>VAT</th>
                            <th>Brutto</th>

                        </tr>
                    </thead>
                    <tbody class="text-right">

                        <tr>
                            <td>23%</td>
                            <td>@Model.CenaNetto </td>
                            <td>@Model.KwotaVat</td>
                            <td>@Model.Cena</td>
                        </tr>
                        <tr>
                            <td><strong>Razem</strong></td>
                            <td><strong>@Model.CenaNetto</strong></td>
                            <td><strong>@Model.KwotaVat</strong></td>
                            <td><strong>@Model.Cena</strong></td>
                        </tr>


                    </tbody>

                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <h2>
                    ..........................................
                </h2>
                <h5>
                    Podpis nabywcy
                </h5>

            </div>
            <div class="col-md-6 text-center">
                <h2>
                    ..........................................
                </h2>
                <h5>
                    Podpis sprzedawcy
                </h5>
            </div>
        </div>
    </div>
</body>
</html>

