@model IEnumerable<FirmaMeblarska.Models.Plyta>

@{
    ViewData["Title"] = "Płyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}
<h1>Płyty</h1>

<p>
    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>  Nowy przedmiot</a>
</p>
<div class="card mb-4">

    <div class="card-body shadow-lg">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Kod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ilosc)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ilosc)
                            </td>
                            <td>
                                <a asp-action="AddOrEdit" asp-route-id="@item.PlytaId"><i class="fa fa-marker fa-lg"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.PlytaId" class="text-danger ml-1" onclick="return confirm('Czt na pewno chcesz usunąć tą część?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "order": [[0, "asc"]],
                "language": {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:  ",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono ",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                }
            });
        });
    </script>
}
